<div class="row">
  <div class="col-sm-8">
    <h1>Why <%= @rappers %> are Better Rappers</h1>
    <p>
      My shizz ipsum dolor sit amet, consectetuer adipiscing elit. Nullam sapizzle velizzle, cool volutpizzle, sheezy quizzle, dope vizzle, arcu. Pellentesque fo shizzle that's the shizzle. Boofron erizzle. Fo shizzle izzle dolor dapibus sizzle check it out tempor. Mauris pellentesque shizzle my nizzle crocodizzle for sure mofo. Doggy izzle tortor. Fizzle bow wow wow rhoncus shit. In i saw beyonces tizzles and my pizzle went crizzle habitasse boofron dictumst. Donec dapibizzle. Curabitizzle tellizzle urna, pretium gizzle, away ac, eleifend vitae, dope. Break yo neck, yall suscipizzle. My shizz sempizzle velizzle cool i'm in the shizzle.
    </p>
    <p>
      Fo shizzle my nizzle non yippiyo owned maurizzle posuere bibendizzle. Aliquam lacinia fo shizzle lectizzle. Boom shackalack id mah nizzle et pizzle fizzle bling bling. Aliquizzle lobortis, mauris vitae dapibizzle doggy, nulla ligula bibendum metizzle, izzle venenatis augue dui stuff dizzle. Vivamizzle gravida lacizzle crunk ipsizzle. Vivamus check it out magna, cool mammasay mammasa mamma oo sa amet, faucibizzle izzle, fo shizzle gangsta, phat. Sizzle vehicula yo sizzle. Vestibulizzle erizzle diam, sheezy izzle, gizzle izzle, cool a, that's the shizzle. Morbi da bomb placerat own yo'. Fizzle malesuada erizzle shizzle my nizzle crocodizzle erat. Fusce fizzle sizzle, egestizzle eu, fo shizzle da bomb, elementizzle eget, neque. Sure tellivizzle things a owned tincidunt nizzle. Fusce sagittis, nulla rizzle sollicitudizzle crackalackin, nizzle black daahng dawg erizzle, away pot augue shiznit vitae arcu. Etizzle fizzle lacizzle. Nunc sizzle mi. Duis things turpizzle. Vestibulizzle a magna. Sizzle mah nizzle erizzle, daahng dawg id, gangsta izzle, pimpin' izzle, pede. Nunc tellus. Brizzle go to hizzle erizzle, doggy sizzle amet, ultricies black, tellivizzle away, augue.
    </p>
    <p>
      Sed vitae dang in arcu ultricies consequat. Break yo neck, yall convallis, arcu izzle dignissim posuere, nulla lorem uhuh ... yih! pede, fo fo shizzle augue boofron sizzle dang. Pellentesque shiz diam nec elit varius tincidunt. Curabitizzle turpis check out this, pulvinizzle dang, bizzle tellivizzle, tincidunt in, metizzle. Check out this sizzle neque. Lorem ipsum dolizzle sizzle bling bling, consectetizzle adipiscing elit. Maecenizzle black elizzle. In congue. My shizz izzle erat boofron cool aliquet fo shizzle my nizzle. In check out this nisi sit hizzle mah nizzle. Crizzle commodo. Nunc mammasay mammasa mamma oo sa ante check out this neque lacinia sagittis. Aenean nizzle we gonna chung gizzle bling bling pot lobortizzle. Suspendisse owned est, phat shit, ornare vizzle, tellivizzle vitae, nizzle. Hizzle eget yippiyo shizznit massa break it down tempizzle. Curabitur et fo shizzle my nizzle quizzle yo mamma ornare away.
    </p>
  </div>
  <div class="col-sm-4">
    <aside>
      <%= link_to "I Like Human Rappers Better", show_path(id: "humans") %>
      <%= image_tag('run-the-jewels', :class => 'img-responsive') %>
    </aside>
  </div>
</div>
